:root {
  --lg: 20px;
  --mask-both: linear-gradient(#000 0 0) center/calc(100% - 20px) calc(100% - 20px) no-repeat,
  radial-gradient(farthest-side, #000 100%, #0000) 0 0/40px 40px round;
  --mask-bottom: linear-gradient(#000 0 0) top/100% calc(100% - 20px) no-repeat,
  radial-gradient(circle farthest-side, #000 98%, #0000) bottom/37.00px 40px repeat-x;
  --mask-top: linear-gradient(#000 0 0) bottom/100% calc(100% - 20px) no-repeat,
  radial-gradient(circle farthest-side, #000 98%, #0000) top/37.00px 40px repeat-x;
  --mask-left:
  radial-gradient(circle farthest-side, #000 100%, #0000) left/39.00px 40px repeat-y, linear-gradient(to right, transparent 20px, #000 20px);
  --mask-small: linear-gradient(#000 0 0) center/calc(100% - 10px) calc(100% - 10px) no-repeat,
      radial-gradient(farthest-side, #000 100%, #0000) 0 0/20px 20px round;
}
@media screen and (min-width: 767px) {
  html {
    font-size: 18px;
  }
  body {
    --lg: 30px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 20px;
  }
  body {
    --lg: 50px;
  }
}


$breakpoints: (
  "xs": 480px,
  "sm": 540px,
  "md": 767px,
  "lg": 992px,
  "xl": 1024px,
  "xxl": 1400px,
) !default;

$f-base: 16px/1.2 "Mulish", sans-serif;
$f-title: "Mulish", sans-serif;
$f-color: #555;

$lg: var(--lg);

$c-main: #FD9F32;
$c-sec: #B69D86;
$c-sec-dark: #A28276;
$c-light: #F2EDE6;
$c-text: #664B42;
$c-black: #1C1616;
$c-bg: #F7F7F7;
$c-link: $c-text;
$c-active: $c-main;

$hc-offcanvas-nav-background-color: #fff;
$hc-offcanvas-nav-text-color: $c-text;
$hc-offcanvas-nav-text-size: 16px;


$container-max-widths: (
  xxl: 1400px,
);

// * {
//   outline: 1px solid #000;
// }
