//разные отступы для медиазапросов

@function col-w($span) {
  @return percentage($span);
}

@mixin col($span: 1, $gutter: $lg) {
  margin-left: $gutter;
  margin-right: $gutter;
  flex: 0 0 auto;
  width: calc(#{percentage($span)} - #{2 * $gutter});
}

%m-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  margin: $lg;
}

//short call grid
@mixin row($gutter: $lg) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

@mixin mc() {
  @extend %m-col;
}

@mixin stack($gutter: 1) {
  @include col();
  // &:not(:last-child) {
  margin-bottom: calc($gutter * $lg);
  // }
}
