<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dev site</title>

  <link rel="apple-touch-icon" sizes="180x180" href="@/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="@/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="@/img/favicon/safari-pinned-tab.svg" color="#563219">
  <meta name="msapplication-TileColor" content="#eee4e1">
  <meta name="theme-color" content="#fdfff5">

  <meta name="description" content="Разработка сайта" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@500;700;800&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../css/vendor.css" />
  <link rel="stylesheet" href="../css/common.css" />
</head>

<body>
  {% import "./mixin.html" as macro %}

  <div class="page">
    <!-- begin Header -->
    <header class="page__header js-header">
      <div class="container container--sm">
        <div class="header">
          <div class="header__left">
            <div class="burger">
              <div class="burger__el"></div>
            </div>
            <div class="header__lang">
              <select name="lang" id="select-lang" calss="js-choice" hidden>
                <option value="Ru" selected>Ru</option>
                <option value="En">En</option>
              </select>
            </div>

          </div>
          <a href="/" class="logo header__logo">
            <img src="@/img/logo-header.png" alt="Володарский мукомольный комбинат">
          </a>
          <div class="header__right">

            <div class="header__search search">
              <button class="search__btn">
                {{ macro.iconSvg('search') }}
              </button>
            </div>
            <div class="header__cart mini-cart">
              {{ macro.iconSvg('cart') }}
              <div class="mini-cart__count">12</div>
            </div>
          </div>
        </div>
        {% include "./nav.html" %}
        <div class="mob-header">
          <div class="header__soc soclist" data-da=".header__left,1023,3">
              <a href="#" class="soclist__item" target="_blank">
                {{ macro.iconSvg('telegram') }}
              </a>
              <a href="#" class="soclist__item" target="_blank">
                {{ macro.iconSvg('vk') }}
              </a>
              <a href="#" class="soclist__item" target="_blank">
                {{ macro.iconSvg('ig') }}
              </a>
              <a href="#" class="soclist__item" target="_blank">
                {{ macro.iconSvg('vch') }}
              </a>
              <a href="#" class="soclist__item" target="_blank">
                {{ macro.iconSvg('yt') }}
              </a>
            </div>
             <a href="tel:+78312289080" class="header__tel" data-da=".header__right,1023,0">
              +7 (831) 228-90-80
            </a>
        </div>
      </div>
    </header>
    <!-- end Header -->
    {% block content %}{% endblock %}
  </div>

  {% include "./footer.html" %}


  <script src="../js/leader-line.min.js"></script>
  <script defer src="../js/vendor.js"></script>
  <script defer src="../js/main.js"></script>
</body>

</html>
