   //.search__btn
  .search-btn {
    border: none;
    background-color: transparent;
    appearance: none;
    color: $c-text;
    font-size: 26px;
  }


.header {
  position: relative;
  margin-bottom: $lg;
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #A4A4A4;
    display: block;
    position: absolute;
    top: 60px;
  }

  //header__logo
  &__logo {
    flex: 0 0 300px;
    position: relative;
    top: 20px;
    background-color: #fff;
    z-index: 1;
    padding: 0 20px;
  }
  &__search {
    & > .search-btn {
      @include rmax(600) {
        display: none;
      }
      transition: all .3s;
      cursor: pointer;
      &:hover {
        color: $c-main;
      }
    }
  }

}

.lang-swither {
  width: 45px;
}

.page-bg {
  background-color: $c-bg;
  padding-bottom: calc(4*$lg);
  margin-bottom: calc(-3*$lg);
  &--products {
    padding-bottom: calc(4*$lg);
    margin-bottom: calc(-3*$lg);
  }
  .header__logo {
    background-color: $c-bg;
  }
  .nav__list {
    background-color: #fff;
  }
  &--nopad {
    padding: 0;
    margin: 0;
  }
}

.mob-header {
  text-align: center;
  .soclist {
    margin-bottom: 1em;
  }
}

.soclist {
  text-align: center;
}


.soclist {
  //.soclist__item
  &__item {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    line-height: 0;
    color: $c-sec;
    padding: 0 2px;
  }
}

.link-arr-hover {
  span {
    position: relative;
    transition: all .3s;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      bottom: .1em;
      width: 1em;
      height: 1em;
      background: url('@/img/icon/arrow.svg') no-repeat;
      background-size: 100% auto;
      transition: all .3s;
      opacity: 0;
    }
  }
  &:hover {
    span {
      transform: translateX(-.5em);
      &:before {
        transform: translateX(1.2em);
        opacity: 1;
      }
    }
  }
}

.link-arr-hover--long {
  span {
    &:before {
      background: url('@/img/icon/arr-long.svg') no-repeat;
      background-size: 100% auto;
      width: 1em;
    }
  }
  &:hover {
    span {
      transform: translateX(-1em);
      &:before {
        transform: translateX(1.25em);
        opacity: 1;
      }
    }
  }
}

.link-arr {
  color: $c-main;
  font-weight: 800;
  text-decoration: none;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: .5em;
  &:hover {
    color: $c-text;
  }
  .iconsvg {
    font-size: .75em;
  }
}

.round-both {
  mask: var(--mask-both);
}
.round-bottom{
  mask: var(--mask-bottom);
}
.round-top{
  mask: var(--mask-top);
}
.round-left{
  mask: var(--mask-left);
}

.bg-card {
    background: url('@/img/bg.jpg');
    padding: calc(2*$lg);
}


.video {
  width: 100%;
  &__wrap {
    position: relative;
    display: block;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 56.6%;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .3);
      opacity: .5;
      z-index: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
      .video__link:after {
        animation: video .5s infinite alternate;
      }
    }
  }

  /* .video__link */
  &__link {
    position: absolute;
    color: $c-main;
    font-size: 54px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    line-height: 0;
    border-radius: 50%;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #FFEDD7;
      left: 0;
      top: 0;
      transition: all .3s;
    }
    &:before {
      transform: scale(1.5);
    }
    &:after {
      opacity: 0;
    }

  }

  /* .video__desc */
  &__desc {
    margin-top: 1em;
    font-size: rem(18);
    font-weight: bold;
    text-decoration: none;
  }

}

.marker {
  display: none;
  width: 26px;
  height: 26px;
  background: url('@/img/icon/dropdown.svg') no-repeat center center;
  background-size: contain;
  transition: all .3s;
}

@keyframes video {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}

.sec-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;

    /* .sec-nav__item */
  &__item {
    flex: 0 0 auto;
  }

  /* sec-nav__link */
  &__link {
    text-decoration: none;
    font-size: 18px;
    color: $c-sec;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    transition: all .3s;

    @include r(1023) {
      font-size: 24px;
    }

    &:hover {
      color: $c-main;
    }

    &.active,
    &.mixitup-control-active {
      color: $c-main;
    }

    &.mixitup-control-active:before,
    &.active:before {
      background: #fd9f32;
      border: 4px solid #fff;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: 1em;
      margin-right: 1em;
      width: 1em;
      background-clip: content-box;
      outline: 1px solid;
    }
  }
}

.intro {
  display: grid;
  gap: 7vw;
  align-items: start;

  @include r(1280) {
    grid-template-columns: 320px 1fr;
    .title {
      font-size: 46px;
    }
  }
  /* .intro__nav */
  &__nav {
    @include r(1280) {
        flex-direction: column;
        gap: 1em;
      }
      @include rmax(767) {
        display: none;
      }
  }
  /* .intro__slide */
  &__slide {
    background: url("@/img/bg.jpg");
    @include r(767) {
      display: grid;
      gap: $lg;
      grid-template-columns: 1fr 1fr;
    }
  }

  /* .intro__slide-cnt */
  &__slide-cnt {
    padding: 40px;
    align-self: center;
    font-size: rem(18);
    @include r(768) {
      padding: 40px 0 40px 80px;
    }
  }

  /* .intro__title */
  &__title {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: .5em;
    line-height: 1;
    color: $c-text;
    @include r(1023) {
      font-size: 36px;
    }
  }

  /* .intro__slide-img */
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.round-left {
      @include rmax(767) {
        mask: var(--mask-top)
      }
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  @include r(1024) {
    font-size: 22px;
  }
  /* .list__item */
  &__item {
    padding-left: 1em;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0.35em;
      left: 0;
      border-radius: 50%;
      background-color: $c-main;
      width: .5em;
      height: .5em;
    }
  }
}

.more {
  margin-top: $lg;
  &--center {
    text-align: center;
  }
}

.callout {
  position: relative;
}

.callout__item {
  position: relative;
  width: 250px;
  @include r(650) {
    position: absolute;
  }
  svg {
    fill: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }
    &-title {
      font-weight: 800;
      font-size: 18px;
      margin-bottom: .5em;
    }
}

.callout__cnt {
  padding: 30px;
  background: url('@/img/bg.jpg');
  text-align: left;
  font-size: 14px;
  mask: var(--mask-small);
}
