// ++++++++++++++++++++++++++++
// Form



input:not([type="submit"]),
input:not([type='checkbox']),
input:not([type="radio"]),
input:not([type="file"]),
textarea {
  padding: 1em;
  border-radius: 8px;
  background-color: $c-light;
  border: none;
  display: block;
  min-width: 100%;
  color: $c-text;
  @include placeholder() {
      color: #664B42;
      font-weight: normal;
      opacity: .5;
    }
  &:hover {
    @include placeholder() {
        opacity: 1;
      }
  }
  &:focus {

  }
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba($c-main, 0.5);
  @include placeholder() {
    opacity: 0.5;
  }
}

input.check {
  display: none;
  & + label {
    position: relative;
    padding-left: 2em;
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -0.15em;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border: 2px solid $c-text;
      border-radius: 5px;
      padding: .15em;
    }
  }
  &:checked+label:before {
    background: $c-main url("@/img/check.svg") no-repeat center center;
  }
  &--invert + label:before  {
    background-color: transparent;
    border-color: #fff;
  }
}

.popup-form {
  display: none;
  max-width: 500px;
}

.form {
  &__title {
    font-size: 26px;
    margin-top: 0;
  }

  &__confirm {
    display: inline-block;
  }

  [type='submit'] {
    @include rmax(460) {
      width: 100%;
    }
  }

  &__btn {
    margin-top: 40px;
    text-align: center;
  }
  &__btn-left {
    text-align: left;
  }
}


.form-order {
  background-color: $c-text;
  color: #F4EEE5;
  padding: 40px 0;
  @include r(1023) {
    padding: $lg $lg 80px;
    padding: 80px 80px 120px;
    background: url('@/img/decor/form-order-1.png') no-repeat left bottom, url('@/img/decor/form-order-2.png') no-repeat right bottom;
    background-color: $c-text;
    background-size: 30%;
  }
  @include r(1400) {
    background-size: auto;
  }
  &__wrap {
    max-width: 1340px;
    margin: auto;
    @include r(xxl) {
      margin: auto 20px auto auto;
      display: grid;
      gap: 100px;
      grid-template-columns: 320px 1fr;
      .form-order__pre {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
  &__pre {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: $lg;
    @include r(767) {
      flex-direction: row;
      justify-content: space-between;
    }
    @include r(1023) {
      font-size: 18px;
      .form__title {
        font-size: 36px;
      }
    }
  }

  &__pre-txt {
    max-width: 320px;
  }

  &__pre-tel {
    span {
      display: block;
    }
    a[href*="tel:"] {
      display: inline-block;
      font-size: 26px;
      color: $c-main;
      font-weight: 800;
      margin-top: .2em;
    }
  }

  &__body {
    display: grid;
    gap: $lg;
    @include r(767) {
      gap: 40px 60px;
      flex: 1;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__body-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__body-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__footer {
    @include r(650) {
      text-align: center;
    }
    @include r(767) {
      grid-column: span 2;
    }
    @include r(1025) {
      text-align-last: left;
    }
    a {
      color: inherit;
    }
  }
  @include r(xxl) {
    .form__confirm {
      font-size: 18px;
    }
    .form__line, .form-order__body-side {
      font-size: 18px;
    }
    .btn {
      font-size: 18px;
      padding: 1em 3em;
    }
  }
}





// ++++++++++++++++++++++++++++
// button

.btn {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  position: relative;
  padding: 1em 2em 1em;
  text-decoration: none;
  font-weight: 800;
  line-height: 1;
  border-radius: 0.5em;
  border: none;
  appearance: none;
  color: #fff;
  overflow: hidden;
  background: #FD9F32;
  box-shadow: 7px 4px 15px hsl(27deg 34% 69% / 45%);
  transition: all .3s;
  &:hover {
    cursor: pointer;
    color: $c-text;
    box-shadow: 0 0 0.8em rgba($c-text, 0.3);
    span {
      transform: translateX(-1em);
    }
    .btn-anim-right {
      transform: translate(0, -50%);
      opacity: 1;
      visibility: visible;
    }
  }
  &--outline {
    border: 2px solid;
  }
  &--big {
    padding: 0.75em 2em 0.75em;
    background-color: $c-sec;
    text-align: center;
    color: #fff;
    @include r(1024) {
      font-size: 20px;
    }
    &:hover {
      color: #fff;
    }
  }
  &--dark {
    background-color: $c-main;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.form-modal {
  display: none;
  .form-order {
    background-color: #fff;
    color: $c-text;
    padding: $lg;
    .form__btn {
      text-align: right;
    }
  }
  .form__confirm:before{
    border-color: $c-text;
  }
  .form-order__footer {
    text-align: left;
  }
  .form-order__pre-tel a[href*="tel:"] {
    color: $c-text;
  }
}
