pre {
	font-family: inherit;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  font-weight: 500;
}

* {
	min-width: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}

a {
  transition: all .3s;
}
// *
//   outline: 1px solid green

%line-hor {
  background: linear-gradient(to right, #a2897f 50%, transparent 0%);
  background-size: 20px 1px;
}

%shadow {
  box-shadow: 9px 13px 26px rgb(0 0 0 / 25%);
}

.page {
	flex: 1 0;
  overflow: hidden;
  padding-bottom: 70px;
}

.prefooter {
  margin-bottom: -70px !important;
}

.strong {
  color: $c-main;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
  padding: 0 15px;
  @include r(xxl) {
    padding: 0 60px;
  }
}
.container--sm {
  @include r(xxl) {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
  }
}

a[href*="tel"] {
	text-decoration: none;
	color: inherit;
}

.iconsvg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	vertical-align: middle;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
  &__lang {
    @include rmax(650) {
      display: none;
    }
  }
	&__tel {
		font-weight: 800;
		text-align: center;
    flex: 1;
    font-size: 18px;
	}
  &__tel-ico {
    @include r(1023) {
      display: none;
    }
  }

  &__soc {
    text-align: center;
    align-items: center;
    flex: 1;
  }
  &__left,
  &__right {
    display: flex;
    flex: 1;
    align-items: center;
    @include r(600) {
      gap: 10px;
    }
  }
  &__right {
    justify-content: flex-end;
  }
  &__cart{
    background-color: $c-bg;
  }
}

.page__header .mob-panel {
  display: none;
}

.logo {
	margin: 0;
	color: $c-main;
	line-height: 1.2;
	text-decoration: none;
	transition: all 0.3s;
  max-width: 80%;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
	@include rmax(767){
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &--top-pad {
    margin-bottom: 0;
    padding-bottom: 0;
  }
	&--bg {
		background-color: $c-bg;
	}
}

.section-sub {
	padding: calc(1.5 * $lg) 0;
}

.c-sec {
  color: $c-sec;
}

.c-sec-dark {
  color: $c-sec-dark;
}

.title {
	position: relative;
	margin: 0 0 1em;
	line-height: 1;
	font-weight: 800;
	font-size: 24px;
  max-width: 1200px;
  @include r(650) {
    font-size: 32px;
  }
  @include r(1023) {
    font-size: 42px;
  }
  &__selection {
    color: $c-main;
  }
  &--small {
    font-weight: 700;
    font-size: 26px;
  }
  &--center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.title-mob-center {
  @include rmax(767) {
    text-align: center;
  }
}

.title-sub {
  font-weight: 800;
  margin: 0 0 .75em;
  font-size: 26px;
  line-height: 1;
  @include r(1023){
    font-size: 36px;
  }
}

.title-small {
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 .75em;
}


.footer {
  padding: 40px 0;
  background: url('@/img/bg.jpg');
  margin-top: -20px;
  @include r(1025) {
    padding: 100px 0 50px;
    .footer__about {
      margin-top: -60px;
    }
  }

  &__main {
    @include r(1360) {
      display: grid;
      gap: $lg;
      grid-template-columns: auto 1fr auto;
    }
  }

  &__about {
    @include r(451) {
      display: flex;
      gap: 60px;
      justify-content: center;
      align-items: center;
      margin-bottom: $lg;
      .footer__contact {
        flex: 0 0 auto;
      }
    }
    @include r(767) {
      align-items: flex-start;
    }
    @include rmax(450) {
        text-align: center;
        margin-bottom: $lg;
        .footer__logo {
          display: inline-block;
          max-width:200px;
          margin-bottom: $lg;
        }
      }
    @include r(1360) {
      flex-direction: column;
    }
  }

  &__logo {
    max-width: 210px;
  }

  &__soc {
    margin-top: $lg;
  }

  .soc-shop.link-arr {
    text-align: center;
    margin-top: 1em;
    display: block;
    color: $c-text;
    font-weight: normal;
    width: 100%;
  }

  &__addr {
    padding: 10px 0 0 20px;
    background: url('@/img/map-footer.svg') top left no-repeat;
    margin: calc(2*$lg) auto 0 ;
    max-width: 300px;
    @include r(767) {
      font-size: 18px;
      font-weight: bold;
      margin-top: 0;
    }
  }

  &__nav {
    max-width: 750px;
    margin: auto;
    @include rmax(1360) {
      margin-top: $lg;
      margin: $lg auto 0;
    }
  }

  &__nav-list {}

  &__contact {
    font-weight: 800;
    text-align: center;
  }

  &__contact-tel {
    font-size: 26px;
    display: block;
  }

  &__post {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @include r(767) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }


}

.footer-nav {
  @include rmax(767) {
    .a-panel {
      overflow: hidden;
      max-height: 0;
      transition: all .25s ease-in-out;
    }
    .a-item.active .a-panel {
      max-height: 500px;
    }
    .marker {
      display: block;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 800;
    @include rmax(767) {
       border-bottom: 1px solid;
    }
  }

  &__root {
    @include r(767) {
        display: grid;
        gap: calc(2*$lg);
        grid-template-columns: repeat(3, auto);
      }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-weight: normal;
    font-size: 16px;
  }

  &__link {
    display: inline-block;
    @include r(767) {
      margin-bottom: 1em;
    }
  }
}

.footer-nav__title>.footer-nav__link {
  text-decoration: none;
  padding: 10px 0;
  margin-bottom: 10px;
  display: block;
  @include rmax(767) {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.active .marker {
  transform: rotate(180deg);
}

.a-panel .footer-nav__link {
  @include rmax(767) {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    padding: .75em;
    border-radius: 5px;
    background-color: #fff;
  }
}

.breadcrumbs {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  list-style: none;
  margin: 50px 0;
  padding: 0;
  position: relative;
  z-index: 1;
  font-size: 14px;

  @include r(767) {
    font-size: 16px;
  }
  /* .breadcrumbs__item */
  &__item {
    margin: 0 .5em 0 0;
    display: inline;
    flex: 0 0 auto;
    align-items: center;
    &:not(:first-child):before {
      content: "";
      width: .75em;
      height: .75em;
      display: inline-block;
      margin-right: .75em;
      background: url("@/img/icon/crumb.svg") no-repeat center;
      background-size: cover;
    }
  }

  /* .breadcrumbs__link */
  &__link {}
}


.article {
  max-width: 920px;
  margin: auto;
  &__header {
    margin-bottom: $lg;
  }

  &__date {}
}

.article-gallery-2-2 {
  display: grid;
  gap: $lg;
  @include r(767) {
    grid-template-columns: 1fr 1fr;
  }

}
