pre {
	font-family: inherit;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
  background-color: #F7F7F7;
  font-weight: 500;
}

* {
	min-width: 0;
}
// *
//   outline: 1px solid green

.page {
	flex: 1 0;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
  padding: 0 15px;
  @include r(xxl) {
    padding: 0 60px;
  }
}
.container--sm {
  @include r(xxl) {
    max-width: 80vw;
  }
}

a[href*="tel"] {
	text-decoration: none;
	color: inherit;
}

.iconsvg {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	vertical-align: middle;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	&__tel {
		font-weight: bold;
		text-align: center;
    flex: 1;
	}
  &__soc {
    text-align: center;
    align-items: center;
    flex: 1;
  }
  &__left,
  &__right {
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
  }
  &__right {
    justify-content: flex-end;
  }
}

.logo {
	margin: 0;
	color: $c-main;
	line-height: 1.2;
	text-decoration: none;
	transition: all 0.3s;
  max-width: 80%;
}

.section {
  padding-top: calc(6 * $lg);
	@include r(450){
    padding-top: calc(2 * $lg);
  }
	&--bg {
		background-color: $c-light;
	}
}

.section-sub {
	padding: calc(1.5 * $lg) 0;
}

.c-sec {
  color: $c-sec;
}

.title {
	position: relative;
	margin: 0 0 1em;
	line-height: 1;
	font-weight: 800;
	font-size: 24px;
  @include r(650) {
    font-size: 32px;
  }
  @include r(767) {
    font-size: 36px;
  }
  &__selection {
    color: $c-main;
  }
  &--small {
    font-weight: 700;
    font-size: 26px;
  }
  &--center {
    text-align: center;
  }
}

.title-sub {
  font-weight: 800;
  margin: 0 0 .75em;
  font-size: 24px;
  @include r(650){
    font-size: 32px;
  }
}

.title-small {
  font-weight: 800;
  font-size: 24px;
  margin: 0 0 .75em;
}

.callout {
  position: relative;
}

.callout__item {
  padding: $lg;
  background: url('@/img/bg.jpg');
  width: 290px;
  &:before{
    content: "";
    width: 170px;
    height: 36px;
  }
  &-title {
    font-weight: 800;
    font-size: 18px;
  }
}

.benefit {
  display: flex;
  gap: $lg;
  @include rmax(768) {
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(2*$lg);
  }
  /* .benefit__item */
  &__item {
    align-items: flex-start;
    @include rmax(768) {
      flex: 0 1 320px;
      text-align: center;
    }
  }

  /* .benefit__ico */
  &__ico {
    width: 120px;
    @include rmax(768) {
      width: 96px;
      margin: auto;
    }
  }

  /* .benefit__title */
  &__title {
    margin: .5em 0 0;
    font-weight: 800;
    font-size: 18px;
  }

  /* .benefit__txt */
  &__txt {
    margin: .5em 0 0;
  }
}

.footer {
  padding: 40px 0;
  background: url('@/img/bg.jpg');
  margin-top: -20px;

  &__main {
    @include r(1360) {
      display: grid;
      gap: $lg;
      grid-template-columns: auto 1fr auto;
    }
  }

  &__about {
    @include r(451) {
      display: flex;
      gap: 60px;
      justify-content: center;
      align-items: center;
      margin-bottom: $lg;
      .footer__contact {
        flex: 0 0 auto;
        text-align: right;
      }
    }
    @include r(767) {
      align-items: flex-start;
    }
    @include rmax(450) {
        text-align: center;
        margin-bottom: $lg;
        .footer__logo {
          display: inline-block;
          max-width:200px;
          margin-bottom: $lg;
        }
      }
    @include r(1360) {
      flex-direction: column;
    }
  }

  &__logo {

  }

  &__addr {
    padding: 10px 0 0 20px;
    background: url('@/img/map-footer.svg') top left no-repeat;
    margin-top: calc(2*$lg);
    max-width: 320px;
    @include r(767) {
      font-size: 18px;
      font-weight: bold;
      margin-top: 0;
    }
  }

  &__nav {
    max-width: 750px;
    margin: auto;
    @include rmax(1360) {
      margin-top: $lg;
      margin: $lg auto 0;
    }
  }

  &__nav-list {}

  &__contact {
    font-weight: 800;
    margin-bottom: 30px;
  }

  &__contact-tel {
    font-size: 26px;
    display: block;
  }

  &__post {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @include r(767) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }


}

.footer-nav {
  @include rmax(767) {
    .a-panel {
      overflow: hidden;
      max-height: 0;
      transition: all .25s ease-in-out;
    }
    .a-item.active .a-panel {
      max-height: 500px;
    }
    .marker {
      display: block;
    }
  }
  &__title {
    font-size: 22px;
    font-weight: 800;
    @include rmax(767) {
       border-bottom: 1px solid;
    }
  }

  &__root {
    @include r(767) {
        display: grid;
        gap: calc(2*$lg);
        grid-template-columns: repeat(3, auto);
      }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    font-weight: normal;
    font-size: 16px;
  }

  &__link {
    display: inline-block;
    @include r(767) {
      margin-bottom: 1em;
    }
  }
}

.footer-nav__title>.footer-nav__link {
  text-decoration: none;
  padding: 10px 0;
  margin-bottom: 10px;
  display: block;
  @include rmax(767) {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.active .marker {
  transform: rotate(180deg);
}

.a-panel .footer-nav__link {
  @include rmax(767) {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    padding: .75em;
    border-radius: 5px;
    background-color: #fff;
  }
}

