{% extends "./parthtml/base.html" %} {% block content %}
<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <span href="#" class="breadcrumbs__link">Документы и награды</span>
    </li>
  </ul>
  <div class="intro">
    <ul class="intro__nav sec-nav">
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link">Наша компания</a>
      </li>
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link">История комбината</a>
      </li>
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link active">Документы и награды</a>
      </li>
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link">Фото-видео</a>
      </li>
    </ul>
    <div class="intro__main">
      <div class="intro__doc intro-bg round-both">
        <div class="intro__doc-cnt">
          <h1 class="title title--center">Предоставляем вам всю необходимую информацию</h1>
          <div class="intro__links">
            <a href="#" class="section-link">
              <div class="section-link__icon">
                <img src="@/img/icon/pdf.svg" alt="">
              </div>
              <div class="section-link__txt">
                Информация для поставщиков
              </div>
            </a>
            <a href="#" class="section-link">
              <div class="section-link__icon">
                <img src="@/img/icon/pdf.svg" alt="">
              </div>
              <div class="section-link__txt">
                Информация для клиентов
              </div>
            </a>
            <a href="#" class="section-link">
              <div class="section-link__icon">
                <img src="@/img/icon/pdf.svg" alt="">
              </div>
              <div class="section-link__txt">
                Реквизиты
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <h2 class="title title-sub">Перечень нормативно-технической документации,
      регламентирующей требования к выпускаемой продукции</h2>
      <div class="table-wrap">
        <table>
          <tr>
            <th align="center">№ п/п</th>
            <th>Наименование продукции</th>
            <th>Обозначение и наименование НТД</th>
            <th>Декларация о соответсвии</th>
            <th>Скачать</th>
          </tr>
          <tr>
            <td align="center">1</td>
            <td>Мука пшеничная хлебопекарная Экстра
            Мука пшеничная хлебопекарная Экстра
            Мука пшеничная хлебопекарная Экстра</td>
            <td>Мука пшеничная хлебопекарная Экстра</td>
            <td>Мука пшеничная хлебопекарная Экстра</td>
            <td><a href="#" download> Скачать документ
о продукции
              {{ macro.iconSvg('arr-down') }}
            </a></td>
          </tr>
          <tr>
            <td align="center">2</td>
            <td>Мука пшеничная хлебопекарная Экстра
            Мука пшеничная хлебопекарная Экстра
            Мука пшеничная хлебопекарная Экстра</td>
            <td>Мука пшеничная хлебопекарная Экстра</td>
            <td>Мука пшеничная хлебопекарная Экстра</td>
            <td><a href="#" download> Скачать документ
о продукции
              {{ macro.iconSvg('arr-down') }}
            </a></td>
          </tr>
          <tr>
            <td align="center">2</td>
            <td>Мука пшеничная хлебопекарная Экстра
            Мука пшеничная хлебопекарная Экстра
            Мука пшеничная хлебопекарная Экстра</td>
            <td>Мука пшеничная хлебопекарная Экстра</td>
            <td>Мука пшеничная хлебопекарная Экстра</td>
            <td><a href="#" download> Скачать документ
о продукции
              {{ macro.iconSvg('arr-down') }}
            </a></td>
          </tr>
        </table>
      </div>
  </section>

    <div class="rewards section">
      <h2 class="title title--center">Награды комбината</h2>
      <div class="rewards__title">
        <div class="rewards__title-type">конкурс</div>
        <div class="title-sub">«Лушая мельница России»</div>
      </div>
      <div class="rewards__list">
        <a  href="@/img/content/about/sert.jpg" class="reward" data-fancybox="gallery">
          <div class="reward__img">
            <img src="@/img/content/about/sert.jpg" alt="Лучшая мельница">
          </div>
          <div class="reward__year">2013</div>
          <div class="reward__name">Лучшая мельница</div>
        </a>
        <a  href="@/img/content/about/sert.jpg" class="reward" data-fancybox="gallery">
          <div class="reward__img">
            <img src="@/img/content/about/sert.jpg" alt="Лучшая мельница">
          </div>
          <div class="reward__year">2013</div>
          <div class="reward__name">Лучшая мельница</div>
        </a>
      </div>
    </div>

    <div class="rewards section">
      <div class="rewards__title">
        <div class="rewards__title-type">выставка</div>
        <div class="title-sub">«Золотая осень»</div>
      </div>
      <div class="rewards__list">
        <a href="@/img/content/about/diplom.jpg" class="reward" data-fancybox="gallery">
          <div class="reward__img">
            <img src="@/img/content/about/diplom.jpg" alt="Лучшая мельница" width="370">
          </div>
          <div class="reward__year">2014</div>
          <div class="reward__name">Золотая медаль <br>(мука высшего сорта)</div>
        </a>
        <a  href="@/img/content/about/diplom.jpg" class="reward" data-fancybox="gallery">
          <div class="reward__img">
            <img src="@/img/content/about/diplom.jpg" alt="Лучшая мельница">
          </div>
          <div class="reward__year">2014</div>
          <div class="reward__name">Золотая медаль <br>(мука высшего сорта)</div>
        </a>
        <a  href="@/img/content/about/diplom.jpg" class="reward" data-fancybox="gallery">
          <div class="reward__img">
            <img src="@/img/content/about/diplom.jpg" alt="Лучшая мельница">
          </div>
          <div class="reward__year">2014</div>
          <div class="reward__name">Золотая медаль <br>(мука высшего сорта)</div>
        </a>
      </div>
    </div>

  <section class="section container--sm">
    <h2 class="title title--center">Узнать больше</h2>
    <div class="section-links">
      <a href="#" class="section-link">
        <div class="section-link__icon">
          <img src="@/img/icon/about-history.svg" alt="">
        </div>
        <div class="section-link__txt">
          Наша история
          {{ macro.iconSvg('arr-long') }}
        </div>
      </a>
      <a href="#" class="section-link">
        <div class="section-link__icon">
          <img src="@/img/icon/about-document.svg" alt="">
        </div>
        <div class="section-link__txt">
          Документы
          {{ macro.iconSvg('arr-long') }}
        </div>
      </a>
      <a href="#" class="section-link">
        <div class="section-link__icon">
          <img src="@/img/icon/about-camera.svg" alt="">
        </div>
        <div class="section-link__txt">
          Фото-видео
          {{ macro.iconSvg('arr-long') }}
        </div>
      </a>
    </div>

  </section>

  <!-- end-container -->
</div>


{% endblock %}
