{% extends "./parthtml/base.html" %} {% block content %}
<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <span href="#" class="breadcrumbs__link">Фото-видео</span>
    </li>
  </ul>
  <div class="intro">
    <ul class="intro__nav sec-nav">
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link">Наша компания</a>
      </li>
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link">История комбината</a>
      </li>
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link ">Документы и награды</a>
      </li>
      <li class="sec-nav__item">
        <a href="#" class="sec-nav__link active">Фото-видео</a>
      </li>
    </ul>
    <div class="intro__main">
      <h1 class="title">Несколько минут чтобы узнать о нашем комбинате</h1>
      <div class="video-gall">
        <div class="video">
          <a href="https://youtu.be/TEh2pDspNu0" class="video__wrap" data-fancybox="video">
            <div class="video__link">
              {{ macro.iconSvg('play') }}
            </div>
            <img src="@/img/content/about/video-1.jpg" alt="Крупнейший поставщик муки">
          </a>
          <div class="video__desc">Володарский мокомольный комбинат</div>
        </div>
        <div class="video">
          <a href="https://youtu.be/TEh2pDspNu0" class="video__wrap" data-fancybox="video">
            <div class="video__link">
              {{ macro.iconSvg('play') }}
            </div>
            <img src="@/img/content/about/video-2.jpg" alt="Производственый процесс">
          </a>
          <div class="video__desc">Производственый процесс</div>
        </div>
        <div class="video">
          <a href="https://youtu.be/TEh2pDspNu0" class="video__wrap" data-fancybox="video">
            <div class="video__link">
              {{ macro.iconSvg('play') }}
            </div>
            <img src="@/img/content/about/video-3.jpg" alt="Продукция нашего комбината">
          </a>
          <div class="video__desc">Продукция нашего комбината</div>
        </div>
        <div class="video">
          <a href="https://youtu.be/TEh2pDspNu0" class="video__wrap" data-fancybox="video">
            <div class="video__link">
              {{ macro.iconSvg('play') }}
            </div>
            <img src="@/img/content/about/video-4.jpg" alt="Поставляем за рубеж">
          </a>
          <div class="video__desc">Поставляем за рубеж</div>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <h2 class="title title--center">Наша фото-галерея</h2>
    <div class="photo-gall">
      <div class="photo-gall__right">
        <a href="@/img/content/about/photo-1.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-1.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-2.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-2.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-3.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-3.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-4.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-4.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-5.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-5.jpg" alt="">
        </a>
      </div>
      <div class="photo-gall__left">
        <a href="@/img/content/about/photo-6.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-6.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-7.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-7.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-8.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-8.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-9.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-9.jpg" alt="">
        </a>
        <a href="@/img/content/about/photo-10.jpg" class="photo-gall__item" data-fancybox="gallery">
          <img src="@/img/content/about/photo-10.jpg" alt="">
        </a>
      </div>

    </div>
    <div class="more more--center">
      <a href="" class="link-arr">Показать ещё {{ macro.iconSvg('arr-down') }}</a>
    </div>
  </section>

  <section class="section container--sm">
    <h2 class="title title--center">Узнать больше</h2>
    <div class="section-links">
      <a href="#" class="section-link">
        <div class="section-link__icon">
          <img src="@/img/icon/about-factory.svg" alt="">
        </div>
        <div class="section-link__txt">
          Наша компания
          {{ macro.iconSvg('arr-long') }}
        </div>
      </a>
      <a href="#" class="section-link">
        <div class="section-link__icon">
          <img src="@/img/icon/about-history.svg" alt="">
        </div>
        <div class="section-link__txt">
          Наша история
          {{ macro.iconSvg('arr-long') }}
        </div>
      </a>
      <a href="#" class="section-link">
        <div class="section-link__icon">
          <img src="@/img/icon/about-document.svg" alt="">
        </div>
        <div class="section-link__txt">
          Документы
          {{ macro.iconSvg('arr-long') }}
        </div>
      </a>
    </div>

  </section>

  <!-- end-container -->
</div>


{% endblock %}
