{% extends "./parthtml/base.html" %} {% block content %}
<div class="container">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Контакты</a>
    </li>
    <li class="breadcrumbs__item">
      <span href="#" class="breadcrumbs__link">Телефоны</span>
    </li>
  </ul>
</div>

<div class="section">
  <div class="container container--sm">
    <div class="peoples">
      <h2 class="title title--center">
        Отдел снабжения
      </h2>
      <div class="people">
        <div class="people__photo">
          <img src="@/img/content/about/people-1.jpg" alt="Ольга Александровна Дворникова">
        </div>
        <div class="people__txt">
          <div class="people__position">директор</div>
          <div class="people__name">Ольга Александровна Дворникова</div>
          <div class="people__footer">
            <a href="tel:88005005656" class="people__tel">8 800 500 56 56</a>
            <a href="mailto:nn@wolodar.ru" class="people__mail">nn@wolodar.ru <img class="icon"
                src="@/img/icon/mail-contact-light.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="people">
        <div class="people__photo">
          <img src="@/img/content/about/people-2.jpg" alt="Ирина Романовна Крошилина">
        </div>
        <div class="people__txt">
          <div class="people__position">финансовый директор</div>
          <div class="people__name">Ирина Романовна Крошилина</div>
          <div class="people__footer">
            <a href="tel:88005005656" class="people__tel">8 800 500 56 56</a>
            <a href="mailto:nn@wolodar.ru" class="people__mail">nn@wolodar.ru <img class="icon"
                src="@/img/icon/mail-contact-light.svg" alt=""></a>
          </div>
        </div>
      </div>
      <div class="people">
        <div class="people__photo">
          <img src="@/img/content/about/people-3.jpg" alt="Юлия Анатольевна Кислюнина">
        </div>
        <div class="people__txt">
          <div class="people__position">начальник ПТЛ</div>
          <div class="people__name">Юлия Анатольевна Кислюнина</div>
          <div class="people__footer">
            <a href="tel:88005005656" class="people__tel">8 800 500 56 56</a>
            <a href="mailto:nn@wolodar.ru" class="people__mail">nn@wolodar.ru <img class="icon"
                src="@/img/icon/mail-contact-light.svg" alt=""></a>
          </div>
        </div>
      </div>

    </div>
    <div class="departament-contacts">
      <div class="container--sm">
        <div class="departament-contact">
          <div class="contact">
            <a href="#" class="contact__name link-arr">Бугалтерия {{ macro.iconSvg('arr-short') }}</a>
            <a href="tel: 800000000" class="contact__tel">8 000 000 00 00</a>
            <a href="mailto: mkv@mkvolod.ru" class="contact__mail">mkv@mkvolod.ru</a>
          </div>
          <div class="contact">
            <a href="#" class="contact__name link-arr">Отдел продаж
              {{ macro.iconSvg('arr-short') }}
            </a>
            <a href="tel: 800000000" class="contact__tel">8 000 000 00 00</a>
            <a href="mailto: mkv@mkvolod.ru" class="contact__mail">mkv@mkvolod.ru</a>
          </div>
          <div class="contact">
            <a href="#" class="contact__name link-arr">Отдел снабжения
              {{ macro.iconSvg('arr-short') }}
            </a>
            <a href="tel: 800000000" class="contact__tel">8 000 000 00 00</a>
            <a href="mailto: mkv@mkvolod.ru" class="contact__mail">mkv@mkvolod.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
