{% extends "./parthtml/base.html" %} {% block content %}
<div class="container container--sm">
  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Главная</a>
    </li>
    <li class="breadcrumbs__item">
      <span href="#" class="breadcrumbs__link">Вопрос-ответ</span>
    </li>
  </ul>

  <h1 class="title title--center">Здесь вы найдете ответына самые частые вопросы</h1>

  <div class="faq-wrap">
    <ul class="sec-nav">
      <li class="sec-nav__item">
        <a class="sec-nav__link mixitup-control-active" data-filter="all">Всё</a>
      </li>
      <li class="sec-nav__item">
        <a class="sec-nav__link" data-filter="[data-mix='По доставке']">По доставке</a>
      </li>
      <li class="sec-nav__item">
        <a class="sec-nav__link" data-filter="[data-mix='По качеству продукции']">По качеству продукции</a>
      </li>
      <li class="sec-nav__item">
        <a class="sec-nav__link" data-filter="[data-mix='По фасовке']">По фасовке</a>
      </li>
    </ul>
    <div class="faq a-container mixed">
      <div class="faq__item mix a-item" data-mix='По доставке'>
        <div class="faq__title a-btn">Какие поставки вы принимаете?</div>
        <div class="faq__cnt a-panel">Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные
          тексты. Заглавных рыбного домах свое злых путь точках. Залетают языкового ipsum, свое однажды пустился что
          первую они дороге скатился власти заглавных!
        </div>
      </div>
      <div class="faq__item mix a-item" data-mix='По качеству продукции'>
        <div class="faq__title a-btn">Какие сертификаты имеет производство?</div>
        <div class="faq__cnt a-panel">Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные
          тексты. Заглавных рыбного домах свое злых путь точках. Залетают языкового ipsum, свое однажды пустился что
          первую они дороге скатился власти заглавных!
        </div>
      </div>
      <div class="faq__item mix a-item" data-mix='По фасовке'>
        <div class="faq__title a-btn">Сколько вагонов может у вас поместится?</div>
        <div class="faq__cnt a-panel">Далеко-далеко за словесными горами в стране гласных и согласных живут, рыбные
          тексты. Заглавных рыбного домах свое злых путь точках. Залетают языкового ipsum, свое однажды пустился что
          первую они дороге скатился власти заглавных!
        </div>
      </div>
    </div>
  </div>

  <!-- end-container -->
</div>


{% endblock %}
