{% extends "./parthtml/base.html" %}
{% block prebase %}
<!-- begin page-bg -->
<div class="page-bg round-bottom">
  {% endblock %}

  {% block content %}
  <div class="container">
    <!-- begin intro -->
    <div class="index-intro section">
      <div class="index-intro__slide">
        <div class="index-title">
          <img src="@/img/decor/index-title.svg" class="index-title__logo" alt="Володарский мукомольный комбинат">
          <h1 class="title title--intro">
            <span class="title__selection">Володарский</span><br>мукомольный комбинат</span>
          </h1>
        </div>

        <div class="intro-slider swiper round-both intro-slider__bg bg-card">
          <div class="swiper-pagination"></div>
          <div class="swiper-wrapper ">
            <div class="intro-slide swiper-slide">
              <div class="intro-slide__cnt">
                <div class="intro-slide__title" data-swiper-parallax="-100">Индивидуальный подход к&nbsp;каждому
                  клиенту</div>
                <div class="intro-slide__txt">Персональный менеджер <br>и сопровождение 24/7</div>
                <a href="#form-order" class="btn" data-fancybox="">Заказать поставку</a>
              </div>
              <img class="intro-slide__img" src="@/img/content/slide-1.png" alt="">
            </div>
            <div class="intro-slide swiper-slide">
              <div class="intro-slide__cnt">
                <div class="intro-slide__title" data-swiper-parallax="-100">Большие объемы призводимой продукции
                </div>
                <div class="intro-slide__txt">700 тонн - производимая способность <br>комбината “Володарский”</div>
                <a href="#form-order" class="btn" data-fancybox>Заказать поставку</a>
              </div>
              <img class="intro-slide__img" src="@/img/content/slide-2.png" alt="">
            </div>
          </div>
          <div class=""></div>
        </div>
      </div>
      <div class="index-intro__aside anons-card">
        <div class="video">
          <a href="#" class="video__wrap">
            <div class="video__link">
              {{ macro.iconSvg('play') }}
            </div>
            <img src="@/img/content/intro-video.jpg" alt="Крупнейший поставщик муки">
          </a>
        </div>
        <div class="anons-card__cnt">
          <h2 class="title title--small anons-card__title">Крупнейший поставщик муки в Нижегородской области</h2>
          <p class="anons-card__txt">Мукомольный комбинат Володарский — радует людей вкусным хлебом. В этом нам
            помогает качественное и экологическое сырье,
            индивидуальный подход к клиентам и квалифицированные сотрудники, всегда готовые помочь</p>
          <div class="anons-card__footer">
            <div class="ceo ceo--faximile">Генеральный директор
              <span>О. А. Дворникова</span>
            </div>
            <a href="#" class="link-arr">О компании
              {{ macro.iconSvg('arr-short') }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- end intro -->
    <!-- begin product-card -->
  </div>
  <!-- end page-bg -->
</div>
<div class="container">
  {% set products_card = [{ name: "Крупа манная", img: "@/img/content/product/product_card_1.png" },
      { name: "Пшеничная мука", img: "@/img/content/product/product_card_2.png" },
      { name: "Ржаная мука", img: "@/img/content/product/product_card_3.png" },
      { name: "Отруби", img: "@/img/content/product/product_card_4.png" },
      { name: "Зерноотходы", img: "@/img/content/product/product_card_5.png" }
    ] %}
  <div class="product-card">
    {% for item in products_card %}
    <a href="#" class="product-card__item link-arr-hover link-arr-hover--long">
      <img src={{ item.img }} alt="{{ item.name }}">
      <span>{{ item.name }}</span>
    </a>
    {% endfor %}
  </div>
  <!-- end product-card -->
</div>


<!-- begin production-steps -->
<div class="production-steps">
  <div class="container">
    <h2 class="title title--center production-steps__title">Путь производства нашей муки</h2>
    <div class="production-step">
      <div class="line line--1"></div>
      <div class="production-step__cnt-wrap">
        <div class="production-step__cnt">
          <h3 class="production-step__title title-sub">Закупка зерна</h3>
          <p class="production-step__txt">Мы закупаем зерно только <br>у агрохолдингов с проверенной<br> репутацией
          </p>
          <a href="#" class="btn production-step__link">Стать вашим поставщиком</a>
        </div>
      </div>
      <div class="line line--2"></div>
      <div class="production-step__img">
        <img src="@/img/content/processing-1.png" alt="Закупка зерна">
      </div>
    </div>
  </div>

  <div class="fill-block round-top">
    <div class="container">
      <div class="production-step__cnt-wrap">
        <div class="production-step__cnt">
          <h3 class="production-step__title title-sub">Около 2 000 тонн</h3>
          <p class="production-step__txt">Приемка зерна <br>зерноавтотранспортом в сутки</p>
        </div>
      </div>
    </div>
    <img class="fill-block__img" src="@/img/content/processing-2.jpg" alt="2 000 тонн">
  </div>

  <div class="container">
    <div class="production-step">
      <div class="line line--3"></div>
      <div class="production-step__cnt-wrap">
        <div class="production-step__cnt" id="step-4">
          <h3 class="production-step__title title-sub">Очистка зерна</h3>
          <p class="production-step__txt">Мы исследуем каждую партию <br>сырья в собственной лаборатории</p>
        </div>
      </div>
      <div class="production-step__img callout callout--1">
        <img src="@/img/content/processing-3.png" alt="Очистка зерна">
        <div class="callout__item callout__item--1">
          <svg width="175" height="38" viewBox="0 0 175 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M174 0.999969C144 28.6666 67.4 67.4 1 0.999969" stroke="#50220F" stroke-width="0.5"
              stroke-dasharray="8 8" />
          </svg>

          <div class="callout__cnt">
            <div class="callout__item-title">32-35 г</div>
            Вес 1 отборного зерна, из которого мы делаем муку
          </div>
        </div>
      </div>
      <div class="production-step__benefits benefit">
        <div class="line line--4"></div>
        <div class="benefit__item">
          <div class="benefit__ico">
            <img src="@/img/icon/benefit-ico-1.svg" alt="Отсев по весу">
          </div>
          <h3 class="benefit__title">Отсев по весу</h3>
          <div class="benefit__txt">Наша современая техника позволет
            успешно очищать зерно от всех примесей</div>
        </div>
        <div class="benefit__item">
          <div class="benefit__ico">
            <img src="@/img/icon/benefit-ico-2.svg" alt="Оптическая сортировка">
          </div>
          <h3 class="benefit__title">Оптическая сортировка</h3>
          <div class="benefit__txt">С помощью инфракрасного спектра мы анализируем сырье на наличие заражённости и
            различных дефектов</div>
        </div>
        <div class="benefit__item">
          <div class="benefit__ico">
            <img src="@/img/icon/benefit-ico-3.svg" alt="Сортировка по форме и размеру">
          </div>
          <h3 class="benefit__title">Сортировка по форме и размеру</h3>
          <div class="benefit__txt">Крупные зерна с гладкой здоровой фактурой идут на производство муки высших сортов,
            мелкие — диетических с повышенным
            содержанием пищевых волокон</div>
        </div>
        <div class="line line--5"></div>
      </div>
    </div>
  </div>


  <div class="callout callout--2">
    <div class="fill-block round-bottom">
      <div class="container">
        <div class="production-step__cnt-wrap">
          <div class="production-step__cnt">
            <h3 class="production-step__title title-sub">Три производственные линии
            </h3>
            <p class="production-step__txt">Наконец, подготовленные виды зерна<br> отправляются в размольное
              отделение,<br>
              где cначала дробятся в крупку, а потом<br>измельчаются в муку</p>
          </div>
        </div>
      </div>
      <img class="fill-block__img" src="@/img/content/processing-4.jpg" alt="2 000 тонн">
    </div>

    <div class="callout__item callout__item--2">
      <svg width="175" height="38" viewBox="0 0 175 38" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M174 0.999969C144 28.6666 67.4 67.4 1 0.999969" stroke="#50220F" stroke-width="0.5"
          stroke-dasharray="8 8" />
      </svg>

      <div class="callout__cnt">
        <div class="callout__item-title">700 тонн в сутки</div>
        зерна (в том числе 100 тонн ржи) — производственная способность комбината «Володарский»
      </div>
    </div>

  </div>

  <div class="container">
    <div class="production-step">
      <div class="line line--6"></div>
      <div class="production-step__cnt-wrap">
        <div class="production-step__cnt" id="step-2">
          <h3 class="production-step__title title-sub">+ 30 видов продукции</h3>
          <p class="production-step__txt">Может производить комбинат в зависимости
            от задач и потребностей заказчика, в том числе муку по индивидуальным параметрам</p>
          <a href="#" class="btn production-step__link">Посмотреть продукцию</a>
        </div>
      </div>
      <div class="production-step__img">
        <img src="@/img/content/processing-5.png" alt="Закупка зерна">
      </div>
      <div class="line line--7"></div>
    </div>
    <div class="production-step production-step--vert">
      <div class="production-step__cnt-wrap" id="step-3">
        <h3 class="production-step__title title-sub">Фасовка</h3>
        <p class="production-step__txt">Произведенную продукцию фасуют и развозят по предприятиям, магазинам и фермам
        </p>
      </div>
      <div class="production-step__cnt" id="step-2">
        <h3 class="production-step__title title-small">Бестарная фасовка</h3>
        <p class="production-step__txt-p"><b>Муковоз</b>
        </p>
        <img src="@/img/content/delivery-auto.svg" alt="Доставка муковозом">
      </div>
      <div class="production-step__cnt" id="step-2">
        <h3 class="production-step__title title-small">Варианты упаковки</h3>
      </div>
      <div class="production-step__img-p"><img src="@/img/content/delivery-pack.png" alt="Варианты поставки"></div>
    </div>
    <div class="production-step production-step--vert">
      <div class="line line--8"></div>
      <div class="production-step__cnt-wrap" id="step-2">
        <h3 class="production-step__title title-small">Поставка</h3>
        <p class="production-step__txt-p">Поставим муку на ваше производство в любом количестве. 35 регионов, 5 районов,
          4 страны
        </p>
        <a href="#form-order" data-fancybox class="btn production-step__link">Заказать поставку</a>
      </div>
    </div>
  </div>
</div>
<!-- end production-steps -->

<div class="map">
  <picture>
    <source media="(max-width: 550px)" srcset="@/img/map-mobile.svg">
    <img src="@/img/map.svg" alt="Регионы поставок">
  </picture>
</div>

<div class="prefooter">
  {% include './parthtml/form_order.html' %}
</div>



{% endblock %}
