{% extends "./parthtml/base.html" %}
{% block prebase %}
<!-- begin page-bg -->
<div class="page-bg round-bottom page-bg--nopad">
  {% endblock %}

  {% block content %}
  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span href="#" class="breadcrumbs__link">Потребителям</span>
      </li>
    </ul>
  </div>

  <div class="container container--sm">
    <div class="intro-consumers">
      <div class="intro-consumers__cnt">
        <h1 class="title">Мы знаем, что вам нравится наша мука</h1>
        <p>Поэтому мы стараемся чтобы еще очень долго она оставалась качественной и достпуной</p>
      </div>
      <img src="@/img/content/about/intro-recipes.png" alt="">
    </div>

  </div>
  <!-- end page-bg -->
</div>

<div class="container container--sm">
  <div class="section">
    <div class="consumers-benefits">
      <div class="consumers-benefits__cnt">
        <div class="title title--center">Отличные хлебопекарные <br>свойства</div>
        <ul class="consumers-benefits__list list-check">
          <li class="list-check__item">
            <img src="" alt="">
            Не требует дополнительного
            просеивания
          </li>
          <li class="list-check__item">Тонкий помол</li>
          <li class="list-check__item">Легкий замес теста</li>
          <li class="list-check__item">Идельная текстура. Без примесей</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section recipes">
    <h2 class="title title--center">Идеальные граммовки для вашей выпечки с нашей мукой</h2>
    <div class="recipe">
      <div class="recipe__header">
        <div class="recipe__header-cnt">
          <div class="recipe__img">
            <img src="@/img/content/about/recipe_1.jpg" alt="">
          </div>
          <div class="recipe__title">Классические блины</div>
          <div class="recipe__portions">6 порций</div>
        </div>
        <div class="recipe__composition">
          Продукты
          <ul class="list recipe__list">
            <li class="list__item">«Володарочка» Мука пшеничная высшего сорта <span class="recipe__count">200 г</span>
            </li>
            <li class="list__item">молоко <span class="recipe__count">500 мл</span></li>
            <li class="list__item">яйца <span class="recipe__count">3 шт.</span></li>
            <li class="list__item">масло сливочное <span class="recipe__count">30 г (2 ст. ложки)</span></li>
            <li class="list__item">сахар <span class="recipe__count">30 г (2 ст. ложки)</span></li>
            <li class="list__item">сахар <span class="recipe__count">соль 2-3 г (1/2 ч. ложки)</span></li>
          </ul>
        </div>

      </div>
      <div class="recipe__cooking">
        <div class="recipe__cooking-title">Способ приготовления</div>
        <p>Подготовим все ингредиенты. Хорошо, если все они будут комнатной температуры, тогда они лучше соединятся.
          Поэтому лучше
          достаньте яйца (3 шт.) и молоко (500 мл) из холодильника заранее. Масло (30 г или 2 ст. ложки) можно
          использовать как растительное рафинированное (без запаха), так и сливочное. Сливочное масло придаёт блинчикам
          большую румяность и
          сливочный вкус. Если используете сливочное масло, то его необходимо растопить и дать ему остыть.</p>
        <p>
          Добавляем к яичной массе небольшую часть молока, где-то 100-150 мл. Мы не наливаем всё молоко сразу, потому
          что, при
          добавлении муки, более густое тесто проще перемешать до однородного состояния. Если выльем всё молоко сразу,
          скорее
          всего, в тесте останутся непромешанные комочки муки, и придётся в дальнейшем процеживать тесто, чтобы от них
          избавится.
          Так что пока добавляем только небольшую часть молока и перемешиваем массу до однородности.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
