{% extends "./parthtml/base.html" %}
{% block prebase %}
<!-- begin page-bg -->
<div class="page-bg page-bg--products round-bottom">
  {% endblock %}

  {% block content %}
  <div class="container container--sm">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <span href="#" class="breadcrumbs__link">Услуги</span>
      </li>
    </ul>

    <div class="intro-products">
      <img src="@/img/content/product/products-intro.png" alt="">
      <div class="intro-products__cnt">
        <h1 class="title">Услуги Володарского мукомольного завода</h1>
        <p>по работе с сырьем заказчика</p>
      </div>
    </div>
  </div>
</div>
<div class="container container--sm">
  <div class="products">

    <ul class="products__nav sec-nav">
      <li class="sec-nav__item">
        <a class="sec-nav__link mixitup-control-active" data-filter="all">Всё</a>
      </li>
      <li class="sec-nav__item">
        <a class="sec-nav__link" data-filter="[data-mix='Мука']">Мука</a>
      </li>
      <li class="sec-nav__item">
        <a class="sec-nav__link" data-filter="[data-mix='Зерно']">Зерно</a>
      </li>
    </ul>

    <div class="services mixed">
      <div class="service mix" data-mix='Зерно'>
        <div class="service__header">
          <div class="service__img">
            <img src="@/img/content/product/service.jpg" alt="">
          </div>
          <h2 class="service__title">
            Оказываем услуги по приемке, подработке, хранению и отгрузке зерновых автомобильным и ж.д. транспортом
          </h2>
        </div>
        <div class="service__footer">
          <div class="service__footer-title">Что входит?</div>
          <ul class="service__list list">
            <li class="list__item">Прием муки</li>
            <li class="list__item">Пункт меню</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Контроль условий хранения</li>
          </ul>
        </div>
      </div>
      <div class="service mix" data-mix='Мука'>
        <div class="service__header">
          <div class="service__img">
            <img src="@/img/content/product/service.jpg" alt="">
          </div>
          <h2 class="service__title">
            Фасовка муки под СТМ заказчика
          </h2>
        </div>
        <div class="service__footer">
          <div class="service__footer-title">Что входит?</div>
          <ul class="service__list list">
            <li class="list__item">Прием муки</li>
            <li class="list__item">Пункт меню</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Контроль условий хранения</li>
          </ul>
        </div>
      </div>
      <div class="service mix" data-mix='Зерно'>
        <div class="service__header">
          <div class="service__img">
            <img src="@/img/content/product/service.jpg" alt="">
          </div>
          <h2 class="service__title">
            Фасовка муки под СТМ заказчика
          </h2>
        </div>
        <div class="service__footer">
          <div class="service__footer-title">Что входит?</div>
          <ul class="service__list list">
            <li class="list__item">Прием муки</li>
            <li class="list__item">Пункт меню</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Контроль условий хранения</li>
          </ul>
        </div>
      </div>
      <div class="service mix" data-mix='Зерно'>
        <div class="service__header">
          <div class="service__img">
            <img src="@/img/content/product/service.jpg" alt="">
          </div>
          <h2 class="service__title">
            Фасовка муки под СТМ заказчика
          </h2>
        </div>
        <div class="service__footer">
          <div class="service__footer-title">Что входит?</div>
          <ul class="service__list list">
            <li class="list__item">Прием муки</li>
            <li class="list__item">Пункт меню</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Контроль условий хранения</li>
          </ul>
        </div>
      </div>
      <div class="service mix" data-mix='Зерно'>
        <div class="service__header">
          <div class="service__img">
            <img src="@/img/content/product/service.jpg" alt="">
          </div>
          <h2 class="service__title">
            Фасовка муки под СТМ заказчика
          </h2>
        </div>
        <div class="service__footer">
          <div class="service__footer-title">Что входит?</div>
          <ul class="service__list list">
            <li class="list__item">Прием муки</li>
            <li class="list__item">Пункт меню</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Контроль условий хранения</li>
          </ul>
        </div>
      </div>
      <div class="service mix" data-mix='Мука'>
        <div class="service__header">
          <div class="service__img">
            <img src="@/img/content/product/service.jpg" alt="">
          </div>
          <h2 class="service__title">
            Фасовка муки под СТМ заказчика
          </h2>
        </div>
        <div class="service__footer">
          <div class="service__footer-title">Что входит?</div>
          <ul class="service__list list">
            <li class="list__item">Прием муки</li>
            <li class="list__item">Пункт меню</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Взвешивание тары</li>
            <li class="list__item">Контроль условий хранения</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="prefooter section">
  {% include './parthtml/form_order.html' %}
</div>

{% endblock %}
