.video-gall {
  display: grid;
  gap: $lg;
  max-width: 1200px;
  @include r(767) {
    grid-template-columns: 1fr 1fr;
  }
  // .video {
  //   max-width: 550px;
  // }
}

.photo-gall {
  display: grid;
  gap: $lg;
  &__item {
    border-radius: 8px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.photo-gall__left,
.photo-gall__right {
  display: grid;
  gap: $lg;
  grid-template-columns: repeat(2, 1fr);
  @include rmax(767) {
    .photo-gall__item:nth-child(5) {
      grid-column: span 2;
    }
  }
  @include r(768) {
      grid-template-columns: repeat(4, 1fr);
    }
}

.photo-gall__right {
  .photo-gall__item:nth-child(3) {
    @include r(767) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

.photo-gall__left {
  .photo-gall__item:nth-child(1) {
    @include r(767) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
