.intro-consumers {
  display: grid;
  gap: $lg;
  @include r(1023) {
    grid-template-columns: .7fr 1fr;
    align-items: center;
  }
  /* .intro-consumers__cnt */
  &__cnt {
    max-width: 500px;
    margin: auto;
    p {
      color: #b69d86;
      font-size: 1.125rem;
      margin: 0;
    }
  }
}

.consumers-benefits {
  background: url('@/img/content/about/bg-wares.png') no-repeat top center;
  background-size: contain;
  padding: 20% 0;
  /* .consumers-benefits__cnt */
  &__cnt {
    max-width: 800px;
    margin: auto;
  }

  /* .consumers-benefits__list */
  &__list.list-check {
    @include rmax(767) {
      max-width: 70%;
      margin: 0 auto;
    }
  }
}


.list-check {
  display: grid;
  gap: $lg;
  margin: 0;
  padding: 0;
  list-style: none;
  @include r(767) {
    grid-template-columns: 1fr 1fr;
  }

  /* .list-check__item */
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font-size: rem(18);
    padding: 0 0 0 3em;
    font-weight: 700;
    &:before {
      content: '';
      position: absolute;
      width: 2em;
      height: 2em;
      left: 0;
      top: 50%;
      background: url('@/img/icon/check-list.svg') no-repeat 50% 50%;
      background-size: 100%;
      transform: translateY(-50%);
    }
  }
}

.recipe {
  &:not(:last-child) {
    margin-bottom: $lg;
  }
  padding: 1em;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 9px 13px 26px -12px rgba(0, 0, 0, 0.25);
  /* .recipe__header */
  &__header {
    display: grid;
    gap: $lg;
    padding-bottom: 1em;
    border-bottom: 1px dashed;
    @include r(1023) {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* .recipe__header-cnt */
  &__header-cnt {
    display: grid;
    gap: .5em;
  }

  /* .recipe__img */
  &__img {
    border-radius: 8px;
    overflow: hidden;
  }

  /* .recipe__title */
  &__title {
    font-size: rem(22);
    font-weight: 800;
  }

  /* .recipe__portions */
  &__portions {
    color: $c-sec;
  }

  /* .recipe__composition */
  &__composition {}

  /* .recipe__composition-title */
  &__composition-title {
    font-size: 18px;
    font-weight: 700;
  }

  /* .recipe__list */
  &__list.list {
    font-size: 18px;
    .list__item {
      margin-bottom: .5em;
    }
  }

  /* .recipe__count */
  &__count {
    font-weight: 800;
    display: block;
  }

  /* .recipe__cooking */
  &__cooking {
    max-width: 920px;
    margin-top: 1em;
  }

  /* .recipe__cooking-title */
  &__cooking-title {
    font-size: rem(18);
    font-weight: bold;
  }
}

.list {

  /* .list__item */
  &__item {}
}
