.faq-wrap {
  max-width: 1020px;
  margin: auto;
  margin-top: $lg;
  @include rmax(767) {
    display: flex;
    .faq {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: #f2ede6;
      padding: 15px;
      margin-top: 0;
    }
    .faq__item {
      background-color: #fff;
    }
    .mixitup-control-active {
      background-color: #f2ede6;
      border-radius: 0 8px 8px 0 ;
    }
    .sec-nav {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex: 0 0 39px;
        gap: 0;
        .sec-nav__item {
          writing-mode: vertical-lr;
          font-size: 18px;
          transform: rotate(180deg);
          border-radius: 0 8px 8px 0;
        }
        .sec-nav__link {
          padding: 1em .5em;
        }
        .tabs__nav {
          flex: 0 0 auto;
          flex-direction: column;
          justify-content: flex-start;
        }
        .sec-nav__link.mixitup-control-active:before {
          content: none;
        }
    }
  }
}
.faq {
  margin-top: $lg;
  display: grid;
  gap: 1em;
  /* .faq__item */
  &__item {
    padding: 1em;
    background-color: $c-light;
    border-radius: 8px;
  }

  /* .faq__title */
  &__title {
    position: relative;
    padding: .5em 2em .5em 0;
    font-size: rem(20);
    font-weight: 700;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 1em;
      height: 2px;
      background-color: $c-main;
      right: 0;
      top: 1em;
    }
    &:before {
      transform: rotate(90deg);
    }
  }

  /* .faq__cnt */
  &__cnt {
    margin-top: 0em;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .active {
    .faq__cnt {
      margin-top: 1em;
      max-width: 800px;
      max-height: 1000px;
    }
    .faq__title:before {
      content: none;
    }
  }
}


