.index-intro {
  display: grid;
  gap: $lg;
  padding-top: 40px;
  @include r(1280) {
    grid-template-columns: 2fr 1fr;
  }
  &__aside{
    align-self: flex-end;
    display: grid;
    gap: $lg;
    @include rm(767, 1280) {
      grid-template-columns: 1fr 1fr;
      max-width: 1000px;
      margin: auto;
    }
    .video {
      max-width: 420px;
    }
  }
}

.index-title {
  position: relative;
  color: $c-sec;
  display: flex;
  align-items: center;
  font-size: clamp(28px, 7vw, 55px);
  margin-bottom: -60px;
  z-index: 100;
  gap: $lg;
  .title--intro {
    font-size: inherit;
    margin: 0;
  }
  img{
    width: 4em;
  }
}

.intro-slide {
  position: relative;
  /* .intro-slide__cnt */
  &__cnt {
    position: relative;
    padding: 100px 40px 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    z-index: 1;
    max-width:600px;
    @include r(767) {
      max-width: 60%;
      min-height: 460px;
      padding: 140px 80px 100px;
    }
  }
  /* .intro-slide__title */
  &__title {
    margin: 20px 0 0;
    font-weight: 800;
    font-size: rem(28);
  }
  /* .intro-slide__img */
  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
    object-position: left top;
    max-width: 60%;
    @include rmax(767) {
      height: auto;
      max-width: 100%;

    }
  }
  &__txt {
    font-size: rem(18);
  }
}

.intro-slider{
  position: relative;
  padding: 0;
}



.anons-card {
  /* .anons-card__cnt */
  &__cnt {
    max-width: 500px;
  }
  /* .anons-card__title */
  &__title.title {
    margin-bottom: 0;
  }
  /* .anons-card__txt */
  &__txt {
    margin: 15px 0 0;
    color: #776157;
  }

  /* .anons-card__footer */
  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: $lg;
    align-items: flex-end;
  }
}


.ceo {
  font-size: 14px;
  span {
    display: block;
    font-size: 16px;
    color: #50220F;
  }

  /* .ceo--faximile */
  &--faximile {
    padding-left: 50px;
    background: url('@/img/decor/index-faximile.svg') no-repeat bottom left;
    background-size: contain;
  }
}

.product-card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  /* .product-card__item */
  &__item {
    display: flex;
    flex: 0 0 calc(50% - $lg);
    flex-direction: column;
    gap: .25em;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    align-items: center;
    padding: 1em;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    @include r(450) {
      font-size: 22px;
    }
    @include r(767) {
      flex: 0 0 200px;
    }
    @include r(1024) {
      flex: 0 0 270px;
    }
    @include r(1800) {
      flex: 0 0 300px;
      font-size: 26px;
    }
    &:before {
      content: "";
      background: url('@/img/bg.jpg');
      position: absolute;
      bottom: 0;
      left: 0;
      height: 80%;
      width: 100%;
      z-index: -1;
      border-radius: 10px;
    }
  }
}

.production-steps {
  margin-top: 60px;
}

.production-steps__title {
  font-size: 36px;
  @include r(1024) {
    font-size: 42px;
  }
}

.production-step {
  position: relative;
  display: grid;
  align-items: center;
  gap: $lg;
  margin-bottom: 80px;
  text-align: center;

  @include r(1023) {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 120px;
    }
      grid-template-columns: auto 1fr;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px 0;
    }
  @include r(1400) {
    max-width: 1330px;
    margin-left: calc(100% / 12 * 2 );
    margin-right: calc(100% / 12 );
  }

  /* .production-step__cnt */
  &__cnt-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 450px;
    background-color: #fff;
    @include r(1024) {
      margin-left: 0;
      padding: 30px 0;
    }
  }

    /* .production-step__txt */
  &__txt {
    @include rmax(1023) {
      br {
        display: none;
      }
    }
    @include r(1023) {
      font-size: 18px;
    }
  }
  /* .production-step__link */
  &__link {
    margin-top: $lg;
  }
  /* .production-step__img */
  &__img {
    text-align: left;
    position: relative;
    @include rmax(1023) {
      text-align: center;
      order: -1;
    }
  }

  &--vert{
    text-align: center;
    grid-template-columns: 1fr;
    .production-step__cnt-wrap {
      margin: 0 auto;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &--reverse {
    @include rmax(1023) {
      order: 1
    }
  }
}

.benefit {
  display: flex;
  gap: $lg;

  @include rmax(1400) {
    justify-content: center;
    flex-wrap: wrap;
    gap: calc(2*$lg);
  }

  /* .benefit__item */
  &__item {
    @include rmax(1400) {
      flex: 0 1 320px;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
  }

  /* .benefit__ico */
  &__ico {
    width: 120px;

    @include rmax(1400) {
      width: 96px;
      margin: auto;
    }
  }

  /* .benefit__title */
  &__title {
    margin: .5em 0 0;
    font-weight: 800;
    font-size: 22px;
  }

  /* .benefit__txt */
  &__txt {
    font-size: 14px;
    margin: .5em 0 0;
    @include r(767) {
      font-size: 16px;
    }
    @include r(1500) {
      font-size: 18px;
    }
  }
}

.fill-block {
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
  position: relative;
  margin-bottom: 80px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .production-step__cnt-wrap {
    padding: $lg;
    max-width: none;
    background-color: transparent;
    max-width: 450px;
    @include rmax(1023) {
      text-align: center;
    }
  }
  .production-step__cnt-center {
    @include r(767) {
      width: 50%;
    }
    .production-step__cnt {
      text-align: center;
      margin: auto;
    }
  }

  @include r(1023) {
    display: block;
    .container {
      min-height: 350px;
      display: flex;
    }
    .production-step__cnt-wrap {
      margin: auto 0 auto 50%;
      max-width: none;
    }
    img {
      width: 50%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.fill-block--right {
  img {
    left: auto;
    right: 0;
  }
  .production-step__cnt-wrap {
    @include r(1023) {
      margin: auto 50% auto 0;
    }
  }
}

.production-step__cnt-center {
  @include rmax(1023) {
    margin: auto!important;
    text-align: center;
  }
}

.fill-block.round-top .fill-block__img {
  @include rmax(1023) {
    order: -1;
  }
}

.map {
  padding: 20px;
  text-align: center;
  background: url('@/img/map-grid.svg');
  background-size: cover;
}

.production-step__benefits{
  padding: 20px 0 $lg;
  position: relative;
  background-color: #fff;
  @include r(1024){
  grid-column: span 2;
  }
}

//connect line
.line {
  display: none;
}
@include r(1024) {
  .line {
    display: block;
    height: 1px;
    position: absolute;
    left: 5%;
    right: 50%;
    z-index: -1;
    background: linear-gradient(to right, #a2897f 50%, transparent 0%);
    background-size: 20px 1px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      background: linear-gradient(to top, #a2897f 50%, transparent 0%);
      background-size: 1px 20px;
      width: 1px;
      height: 40px;
    }
    &:before {
      left: 0;
      bottom: 0;
    }
    &:after {
      right: 0;
    }
  }

  .line--1 {
    top: 20px;
    left: 5%;
    right: 50%;
    &:before {
      right: 0;
      left: auto;
    }
    &:after {
      left: 0;
      right: auto;
      height: 120px;
    }
  }

  .line--2 {
    top: auto;
    bottom: 0;
    right: 40%;
    &:before {
      height: 120px;
    }
    &:after {
      height: 120px;
    }
  }

  .line--3 {
    top: 0;
    right: 40%;
    &:before {
      right: 0;
      left: auto;
      height: 120px;
    }
    &:after {
      left: 0;
      right: auto;
      height: 120px;
    }
  }

  .line--4 {
    left: 5%;
    top: 0;
    width: 1px;
    &:before {
      height: 200px;
    }
    &:after {
      content: none;
    }
    @include rmax(1300) {
      display: none;
    }
  }

  .line--5 {
    top: auto;
    bottom: -50px;
    right: 40%;
    left: 5%;
    @include rmax(1400) {
      left: 50%;
    }
    &:before {
      height: 120px;
    }

    &:after {
      height: 120px;
    }
  }

  .line--6 {
    top: -20px;
    right: 40%;

    &:before {
      right: 0;
      left: auto;
      height: 120px;
    }

    &:after {
      left: 0;
      right: auto;
      height: 120px;
    }
  }

  .line--7 {
    left: 5%;
    right: 50%;
    bottom: -20px;
    &:before {
      height: 200px;
    }

    &:after {
      height: 120px;
    }
  }

  .line--8 {
    top: 0;
    left: 50%;
    width: 1px;
    &:before {
      height: 80px;
    }
    &:after {
      display: none;
    }
  }

}

.callout--1 {
  @include rm(1023, 1280) {
    img {
      transform: translateX(-10%)
    }
  }
}

.callout__item--1 {
  top: 0;
  right: 0;
  margin-left: auto;
  @include r(1200) {
    right: auto;
    left: 520px;
  }
  svg {
    display: none;
    @include r(450) {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      transform: translateX(-100%) rotate(30deg);
      z-index: 1;
    }
    @include r(650) {
      transform: translateX(-100%) rotate(160deg);
    }
  }
}

.callout--2 {
  margin-bottom: 250px;
  @include rmax(500) {
    margin-bottom: $lg;
  }
  @include r(1024) {
    margin-bottom: 120px;
  }
}

.callout--4 {
  @include rm(600, 1280) {
      margin-bottom: 100px;
    }
}

.callout__item--2 {
  position: absolute;
  bottom: -200px;
  right: 40px;
  width: 290px;
  @include rmax(500) {
    position: static;
    margin: 0 auto;
  }
  @include r(1024) {
    bottom: -120px;
  }
  svg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: translateX(-100%) rotate(30deg);
    z-index: 1;
    @include rmax(500) {
      display: none;
    }
  }
}

.callout__item--4 {
  svg {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    transform: translateX(140%) rotate(325deg);
    z-index: 1;
    @include rmax(500) {
        display: none;
      }
  }
    @include r(1024) {
      left: -40%;
    }
}
